@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// (intro and email sign up background)
$dark-blue-email: #1c2431;
// (main background)
$dark-blue-main: #181f2a;
// (footer background)
$dark-blue-footer: #0b1523;
//(testimonials background)
$dark-blue-testimonial : #202a3c;

//(inside call-to-action gradient)
$cyan : #65e2d9;
// (inside call-to-action gradient)
$blue: #339ecc;

//(error)
$light-Red : hsl(0, 100%, 63%);

//Neutral
$white: hsl(0, 0%, 100%);

//tipografia
$font-size:14px;

//Headings, Call-to-actions, Header Navigation
$primera-fuente: 'Raleway', sans-serif;

//Body
$segunda-fuente:'Open Sans', sans-serif;