@import "configuracion";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $dark-blue-email;
  font-family: $segunda-fuente;
}

.navbar {
  max-width: 1182px;
  margin: 60px auto 50px;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
  .navbar__logo {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 30%;
    }
  }
  .navbar__img {
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
.navbar__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 55%;
    gap: 10px;
  }
  .navList {
    list-style: none;
  }
  .navLink {
    color: $white;
    text-decoration: none;
    @media screen and (max-width: 280px) {
      font-size:13px;
    }
  }
}
//MAIN BANNER
.main__banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media screen and (max-width: 768px) {
    padding: 0 32px;
    text-align: center;
  }
  .banner__picture {
    margin: auto;
  }
}
.banner__img {
  width: 100%;
}
.banner__article {
  margin: 35px auto 0;
  max-width: 550px;
  text-align: center;
  color: $white;
  .banner__heading {
    margin: 10px 0;
    font-family: $primera-fuente;
    font-size: 32px;
    @media screen and (max-width: 375px) {
      font-size: 26px;
    }
  }
  .banner__paragraph {
    margin: 30px auto 0;
  }

  br {
    @media screen and (max-width: 375px) {
      display: none;
    }
  }
}
.banner__button {
  margin: 35px auto 0;
  .banner__btn {
    background-image: linear-gradient(150deg, $cyan, $blue);
    color: $white;
    font-family: $primera-fuente;
    font-weight: 700;
    font-size: 14px;
    border: none;
    padding: 16px 84px;
    border-radius: 32px;
    @media screen and (max-width:300px){
      padding: 16px 54px;
    }
    &:hover {
      cursor: pointer;
      background: #8adae3;
    }
  }
}
//MAIN PAGE
.main__page {
  position: relative;
  margin-top: 150px;
  padding: 200px 0;
  position: relative;
  background-color: $dark-blue-main;
  @media screen and (max-width: 411px) {
    margin-top: 40px;
    padding: 50px 0 2px;
  }
  .rectangle {
    display: none;
    @media screen and (max-width: 530px) {
      display: block;
      width: 100%;
      height: 55vh;
      position: absolute;
      top: -2%;
      z-index: -1;
      background-color: $dark-blue-main;
    }
      @media screen and (max-width: 530px) {
        top: -10%;
      }
    @media screen and (max-width: 280px) {
      top: -12%;
    }
  }
  .wave {
    position: absolute;
    top: -15%;
    z-index: -1;
    background-image: url(../img/bg-curvy-desktop.svg);
    width: 100%;
    height: 50vh;
    @media screen and (max-width: 768px) {
      top: -12%;
      height: 80vh;
    }
    @media screen and (max-width: 375px) {
      background-image: url(../img/bg-curvy-mobile.svg);
      top: -13.1%;
      height: 100vh;
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
    }
  }
  .main__services {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 100px;
    @media screen and (max-width: 375px) {
      margin: 0 30px;
    }
  }
}
.services__article {
  flex-basis: 430px;
  margin-bottom: 80px;
  text-align: center;
  .service__picture {
    margin-bottom: 20px;
  }
}
.service__description {
  color: $white;
  .service__heading {
    margin: 15px 0;
    font-family: $primera-fuente;
  }
}

//MAIN PRODUCTIVE
.main__productive {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  margin: 50px 100px;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
     margin: 50px ;
  }
  @media screen and (max-width: 375px) {
    flex-direction: column;
    gap: 10px;
    margin: 15px 30px;
  }
  .productive__picture {
    flex-basis: 550px;
    @media screen and (max-width: 375px) {
      flex-basis: 100px;
      width: 100%;
    }
  }
  .productive__img {
    width: 100%;
  }
}
.productive__article {
  align-self: center;
  flex-basis: 550px;
   @media screen and (max-width: 768px) {
    flex-basis: 650px;
  }
  @media screen and (max-width: 375px) {
    flex-basis: 400px;
  }
  br {
    @media screen and (max-width: 375px) {
      display: none;
    }
  }
  .productive__heading {
    font-family: $primera-fuente;
    color: $white;
    font-size: 32px;
    @media screen and (max-width: 375px) {
      font-size: 18px;
    }
  }
  .productive__paragraph {
    margin: 20px 0 10px;
    color: $white;
  }
  .productive__btn {
    margin: 20px 0;
    border-bottom: 1px solid #62e0d9;
    width: 30%;
    @media screen and (max-width: 768px) {
      width: 42%;
    }
    @media screen and (max-width: 375px) {
      width: 52%;
    }
    @media screen and (max-width: 300px) {
      width: 80%;
    }
    .productive__link {
      text-decoration: none;
      color: #62e0d9;
      font-size: 15px;
      @media screen and (max-width: 300px) {
      font-size: 13px;
    }
    }
  }
}

//MAIN TESTIMONIAL
.main__testimonials {
  position: relative;
  margin: 150px 80px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  @media screen and(max-width:768px) {
    margin: 150px 60px;
    flex-wrap: wrap;
  }
  @media screen and(max-width:375px) {
    margin: 10px 40px;
    flex-wrap: wrap;
  }
  &::after {
    content: "";
    position: absolute;
    top: -14%;
    left: 1.2%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/bg-quotes.png);
    width: 50px;
    height: 50px;
      @media screen and(max-width:768px){
        top: -5%;
     } 
    @media screen and(max-width:375px) {
      top: -4%;
    }
  }
}
.testimonial__article {
  position: relative;
  z-index: 2;
  color: $white;
  background-color: $dark-blue-testimonial;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.096);
  flex-basis: 353px;
  padding: 48px 24px 16px;
  @media screen and (max-width: 768px) {
    flex-basis: 553px;
  }
  @media screen and (max-width: 375px) {
    padding: 48px 24px 16px;
    flex-basis: 293px;
  }
  .testimonial__paragraph {
    font-size: 15px;
  }
}
.subarticle__testimonial {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 30px 0 18px;
  .testimonial__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .subtestimonial__heading {
    font-size: 12px;
  }
  .subtestimonial__paragraph {
    font-size: 10px;
  }
}
//MAIN ACCESS
.main__access {
  position: absolute;
  background-color: $dark-blue-email;
  max-width: 800px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -7%;
  padding: 64px 84px;
  @media screen and (max-width: 768px) {
    position: relative;
    margin: 120px auto 20px;
    max-width: 520px;
    padding: 34px 34px;
  }
  .access__heading {
    font-size: 32px;
    text-align: center;
    color: $white;
    font-family: $primera-fuente;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
  .access__paragraph {
    text-align: center;
    color: $white;
    font-size: 15px;
    margin-bottom: 20px;
  }
}
.access__form {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  .access__input {
    width: 65%;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 10px 0 30px;
    }
  }
  .access__inp {
    width: 100%;
    padding: 16px 12px;
    border: none;
    border-radius: 32px;
  }
  .access__buttons {
    width: 32%;
    text-align: center;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .access__btn {
    padding: 16px 34px;
    border-radius: 32px;
    border: none;
    background-image: linear-gradient(150deg, $cyan, $blue);
    color: $white;
    font-family: $primera-fuente;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    &:hover {
      background: #8adae3;
    }
  }
}

//MAIN FOOTER
.main__footer {
  padding: 200px 50px 90px;
  background-color: $dark-blue-footer;
  color: $white;
  @media screen and (max-width: 768px) {
    padding: 100px 30px 90px;
  }
}
.footer__picture {
  width: 100%;
  margin-bottom: 40px;
  .footer__img {
    width: 10%;
    @media screen and (max-width: 768px) {
      width: 30%;
    }
  }
}
.submain__footer {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.subfooter__article:nth-of-type(1) {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  gap: 20px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
  .minifooter__article:nth-of-type(1) {
    flex-basis: 430px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    @media screen and (max-width: 768px) {
      flex-basis: 10px;
    }
  }
}
.minifooter__article:nth-of-type(2) {
  flex-basis: 200px;
  .minifooter__paragraph {
    padding: 10px 0;
  }
  .footer__ico {
    padding-right: 10px;
  }
}
.subfooter__article:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  width: 45%;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
}
.subfooter__menu {
  .subfooter__list {
    list-style: none;
    padding: 10px 0;
  }
}
.subfooter__socialnetwork {
  @media screen and (max-width: 768px) {
    margin: auto;
  }
  .subfooter__link {
    text-decoration: none;
    padding: 0 8px;
  }
  .scn {
    font-size: 24px;
    color: $white;
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
  }
}
